@charset "UTF-8";

@media screen and (min-width: 500px) and (max-width: 800px) {
    #container {
        width: 80vw;
    }

    #header {
        width: 80vw;
    }

    #taskInput{
        width: 30vw;
    }

    .settings-menu {
        width: 60vw;
    }
}

@media screen and (max-width: 500px){
    #container {
        width: 95vw;
    }

    #header {
        width: 95vw;
        height: 6rem;
    }

    #taskInput{
        min-width: 27vw;
        height: 4rem;
        font-size: .8em;
        padding: 0 .2rem 0;
        text-align: center;
    }

    #taskDate {
        min-width: 30vw;
        height: 4rem;
        padding: 0 .1rem 0 .1rem;
        text-align: center;
    }

    button#add {
        height: 4rem;
        min-width: 15vw;
        font-size: 18px;
    }

    .settings-btn {
        height: 4rem;
    }

    .settings-menu {
        width: 90vw;
    }

    label {
        font-size: .6em;
    }

    .text-date {
        top: .75rem;
        margin-right: 3rem;
    }
}