@charset "UTF-8";

@media screen and (min-width: 500px) and (max-width: 610px) {
    body {
        font-size: 1.3em;
    }
    
    #taskInput{
        width: 300px;
        height: 60px;
        font-size: 18px;
    }

    button#add {
        height: 60px;
        font-size: 18px;
    }

    #deleteCompletedTasks {
        height: 60px;
        padding: 3px 15px 0 15px;
    }
}

@media screen and (max-width: 500px){
    body {
        font-size: 1.3em;
    }

    #taskInput{
        width: 190px;
        height: 60px;
        font-size: 18px;
    }

    button#add {
        height: 60px;
        font-size: 18px;
    }

    #deleteCompletedTasks {
        height: 60px;
        padding: 3px 15px 0 15px;
    }
}