@charset "UTF-8";

.list-btn {
    transition: .2s;
    border: none;
    width: 3rem;
    border-radius: var(--border-radius);
    padding: 10px;
    background: var(--color-blue);  
    cursor: pointer;
}

.list-btn:hover {
    background-color: var(--color-blue-hover);
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container-pomodoro {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 70vw;
    border-radius: var(--border-radius);
    background-color: var(--contorno-li-color);
}

.header-container-pomodoro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    border-bottom: 2px solid var(--contorno-li-color-hover);
    border-radius: var(--border-radius);
}

.header-container-pomodoro_btns {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
}

.header-container-pomodoro_status {
    display: flex;
    justify-content: space-around;
}

.text-header {
    padding: .5rem;
    border-radius: var(--border-radius);
    width: 17rem;
    text-align: center;
}

.selected {
    background-color: var(--color-blue);
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 6em;
}

.container-pomodoro_btn-pomodoro {
    display: flex;
    justify-content: center;
    background-color: var(--contorno-li-color);
    border-top: 2px solid var(--contorno-li-color-hover);
    color: white;
    padding: 1.5vh;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.start-pause-pomodoro-btn {
    transition: .5s;
    background-color: var(--color-blue);
    border: none;
    font-size: 2em;
    color: white;
    padding: 2vh;
    border-radius: var(--border-radius);
    cursor: pointer;  
    width: 17rem;
}

.start-pause-pomodoro-btn:hover {
    background-color: var(--color-blue-hover);
}