@charset "UTF-8";

.header {
    height: 30vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: start;
    justify-content: center;
}

.container-pomodoro {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 55vw;
    margin-top: 5vh;
    border-radius: var(--border-radius);
    background-color: var(--contorno-li-color);
}

.text-header {
    padding: .5rem;
    border-radius: var(--border-radius);
    width: 17rem;
    text-align: center;
}

.selected {
    background-color: var(--primary-color);
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 6em;
}

.container-pomodoro_btn-pomodoro {
    display: flex;
    justify-content: center;
    background-color: var(--contorno-li-color);
    border-top: 2px solid var(--contorno-li-color-hover);
    color: var(--text-color);
    padding: 1.5vh;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.start-pause-pomodoro-btn {
    transition: .5s;
    background-color: var(--primary-color);
    border: none;
    font-size: 2em;
    color: var(--text-color);
    padding: 2vh;
    border-radius: var(--border-radius);
    cursor: pointer;  
    width: 17rem;
}

.start-pause-pomodoro-btn:hover {
    background-color: var(--primary-color-hover);
}