@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --bg-color: rgb(36, 36, 36);
    --contorno-li-color: #3F3F3F;
    --contorno-li-color-hover: #4F4F4F;
    --color-blue: #3584e4;
    --color-blue-hover: #438DE6;
    --width-default: 50vw;
    --border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    box-sizing: border-box;
}

.blur {
    filter: blur( 20px );
}

body {
    height: 100vh;
    width: 100%;
    background-color: var(--bg-color);
    color: white;
    display: flex;
    align-items: center;
    font-size: 18px;
    flex-direction: column;
}

/* Header */

header {
    transition: .2s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    width: var(--width-default);
}

.pomodoro-btn {
    transition: .2s;
    border: none;
    width: 3rem;
    border-radius: var(--border-radius);
    padding: 10px;
    background: var(--color-blue);  
    cursor: pointer;
}

.pomodoro-btn:hover {
    background: var(--color-blue-hover);
}

#taskInput {
    width: 16vw;
    height: 40px;
    border: none;
    border-radius: var(--border-radius);
    padding-left: 10px;
    font-size: 14px;
}

#taskDate {
    min-width: 10vw;
    text-align: center;
    height: 40px;
    border: none;
    border-radius: var(--border-radius);
    padding: 0 1rem 0 1rem;
    font-size: .6em;
}

button#add {
    border: none;
    border-radius: var(--border-radius);
    height: 40px;
    padding: 10px;
    background: var(--color-blue);  
    font-size: 14px;
    cursor: pointer;
    color: white;
}

button#add:hover {
    background-color: var(--color-blue-hover);
}

.settings-btn {
    transition: .2s;
    border: none;
    width: 3rem;
    border-radius: var(--border-radius);
    padding: 10px;
    background: var(--contorno-li-color);  
    cursor: pointer;
}

.settings-btn:hover {
    background: var(--contorno-li-color-hover);
}

/* Main */

main {
    transition: .2s;
    width: var(--width-default);
}

ul {
    list-style-type: none;
}

ul input{
    margin: 0 .4rem 0 .4rem;
}

li {
    margin-bottom: 8px;
    background-color: var(--contorno-li-color);
    padding: .0rem;
    padding: 6px 10px 10px 10px;
    border-radius: var(--border-radius);
    position: relative;
}

.text-date {
    color: lightgreen;
    position: absolute;
    right: 0;
    margin-right: 5rem;
}

.late {
    color: red;
}

.edit-task-name {
    transition: .2s;
    position: absolute;
    right: 3rem;
    margin-top: -0.2rem;
    padding: .4rem;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.edit-task-name:hover {
    background-color: var(--contorno-li-color-hover);
}

.trash {
    transition: .2s;
    position: absolute;
    right: 0;
    top: .1rem;
    margin-right: 1rem;
    cursor: pointer;
    padding: .4rem;
    border-radius: var(--border-radius);
}

.trash:hover {
    background-color: var(--contorno-li-color-hover)
}

/* Main - Taks Completed */

.text-task-completed {
    margin-bottom: 8px;
}

.arrow {
    position: absolute;
    margin-left: .5rem;
    cursor: pointer;
}

/* Settings */

.setting-menu-closure-button {
    text-align: center;
    background-color: var(--contorno-li-color-hover);
    position: absolute;
    margin-right: 1rem;
    right: 0;
    cursor: pointer;
    width: 2rem;
    padding-top: .2rem;
    border-radius: 50%;
    margin-top: .05rem ;
}

.header-settings-menu {
    display: flex;
    width: 100%;
    justify-content: center;
    color: white;
    margin-top: .5rem;
}

.text-header-settings-menu {
    font-size: 1.5em;
    margin-bottom: 1rem;
}

.settings-menu {
    color: black;
    border-radius: var(--border-radius);
    position: absolute;
    width: 35vw;
    padding: 0 1rem 1rem;
    box-shadow: 1px 1px solid black;
    margin-top: 0.3rem;
    background: var(--contorno-li-color);
    right: 50%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
    transform: translateX(50%);
    font-weight: 700; 
}

.settings-menu-btn {
    transition: .2s;
    border: none;
    width: 100%;
    padding: .5rem;
    font-size: 1em;
    background-color: white;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
}

.settings-menu-btn:hover {
    background-color: rgb(220, 220, 220);
}

#data-import-btn {
    display: none;
}

.show {
    visibility: visible;
    opacity: 1;
}

/* Task Editing Menu */

.change-box-name-tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    position: absolute;
    padding: 1rem;
    box-shadow: 1px 1px solid black;
    margin-top: 0.3rem;
    background: var(--contorno-li-color);
    right: 50%;
    top: 50%;
    transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
    transform: translate(50%, -50%);
    font-weight: 700; 
}

.change-box-name-tasks p {
    margin-bottom: 1rem;
    font-size: 2em;
    text-align: center;
}

.change-box-name-tasks input {
    border: none;
    font-size: 1em;
    border-radius: var(--border-radius);
    height: 2rem;
    padding-left: 1rem;
    width: 20rem;
    margin-bottom: 1rem;
}

.change-box-name-tasks div {
    width: 20rem;
}

.change-box-name-tasks button {
    font-size: 1em;
    border: none;
    border-radius: var(--border-radius);
    width: 9rem;
    height: 2rem;
    margin: 0 .5rem;
    cursor: pointer;
}