@charset "UTF-8";

:root {
    --bg-color: rgb(36, 36, 36);
    --contorno-li-color: rgb(57, 57, 57);
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-color: var(--bg-color);
    color: white;
    display: flex;
    align-items: center;
    font-size: 18px;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    width: 50vw;
}

main {
    width: 50vw;
}

#taskInput {
    width: 22vw;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 14px;
}

#taskDate {
    min-width: 10vw;
    text-align: center;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 0 1rem 0 1rem;
    font-size: .6em;
}

button#add{
    border: none;
    border-radius: 5px;
    height: 40px;
    padding: 10px;
    background: #3584E4;  
    font-size: 14px;
    cursor: pointer;
    color: white;
}

ul {
    list-style-type: none;
}

ul input{
    margin-right: 10px;
    margin-left: 1rem;
}

li {
    margin-bottom: 8px;
    background-color: var(--contorno-li-color);
    padding: .0rem;
    padding: 6px 10px 10px 10px;
    border-radius: .4rem;
    position: relative;
}

.text-date {
    color: lightgreen;
    position: absolute;
    right: 0;
    margin-right: 3.2rem;
}

.late {
    color: red;
}

.trash {
    position: absolute;
    right: 0;
    top: .3rem;
    margin-right: 1rem;
    cursor: pointer;
    padding: .2rem;
    border-radius: .2rem;
}

.trash:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.text-task-completed {
    margin-bottom: 8px;
}

.arrow {
    position: absolute;
    margin-left: .5rem;
    cursor: pointer;
}