@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --contorno-li-color-hover: #4F4F4F;
    --width-default: 50vw;
    --border-radius: 10px;
    --transition-time: .3s;
}

.dark {
    --bg-color: #242424;
    --contorno-li-color: #3F3F3F;
    --contorno-li-color-hover: #4F4F4F;
    --text-color: #ffffff;
}

.light {
    --bg-color: #fafafa;
    --contorno-li-color: #f2f2f2;
    --contorno-li-color-hover: #ebebeb;
    --text-color: #000000;
}

.color-red {
    --primary-color: #ff0000;
    --primary-color-hover: #ff4d4d;
}

.color-blue {
    --primary-color: #3584e4;
    --primary-color-hover: #438de6;
}

.color-purple {
    --primary-color: #8756ec;
    --primary-color-hover: #996fef;
}

.color-green {
    --primary-color: #04875b;
    --primary-color-hover: #2a9974;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    box-sizing: border-box;
    transition: var(--transition-time);
}

body {
    height: 100vh;
    width: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    font-size: 18px;
    flex-direction: column;
}

/* Header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    width: var(--width-default);
}

.header button {
    width: 3rem;
    height: 3rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--border-radius);
    padding: .6rem;
    cursor: pointer;
    color: var(--text-color);
}

.header button:hover {
    background-color: var(--primary-color-hover);
}

#taskInput {
    width: 16vw;
    height: 3rem;
    border: none;
    border-radius: var(--border-radius);
    padding-left: 10px;
    font-size: 14px;
}

#taskDate {
    min-width: 10vw;
    text-align: center;
    height: 3rem;
    border: none;
    border-radius: var(--border-radius);
    padding: 0 1rem 0 1rem;
    font-size: .6em;
}

button#add {
    width: 5rem;
    font-size: .8em;
}

/* Main */

main {
    width: var(--width-default);
}

ul {
    list-style-type: none;
}

ul input{
    margin: 0 .4rem 0 .4rem;
}

li {
    margin-bottom: 8px;
    background-color: var(--contorno-li-color);
    padding: .0rem;
    padding: 6px 10px 10px 10px;
    border-radius: var(--border-radius);
    position: relative;
}

.text-date {
    color: lightgreen;
    position: absolute;
    right: 0;
    margin-right: 5rem;
}

.late {
    color: red;
}

.edit-task-name {
    position: absolute;
    right: 3rem;
    margin-top: -0.2rem;
    padding: .4rem;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.edit-task-name:hover {
    background-color: var(--contorno-li-color-hover);
}

.trash {
    position: absolute;
    right: 0;
    top: .1rem;
    margin-right: 1rem;
    cursor: pointer;
    padding: .4rem;
    border-radius: var(--border-radius);
}

.trash:hover {
    background-color: var(--contorno-li-color-hover)
}

/* Main - Taks Completed */

.text-task-completed {
    margin-bottom: 8px;
}

.arrow {
    position: absolute;
    margin-left: .5rem;
    cursor: pointer;
    transition: transform var(--transition-time) ease-in-out;
}

/* Task Editing Menu */

.change-box-name-tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    position: absolute;
    padding: 1rem;
    box-shadow: 1px 1px solid black;
    margin-top: 0.3rem;
    background: var(--contorno-li-color);
    right: 50%;
    top: 50%;
    transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
    transform: translate(50%, -50%);
    font-weight: 700; 
}

.change-box-name-tasks p {
    margin-bottom: 1rem;
    font-size: 2em;
    text-align: center;
}

.change-box-name-tasks input {
    border: none;
    font-size: 1em;
    border-radius: var(--border-radius);
    height: 2rem;
    padding-left: 1rem;
    width: 20rem;
    margin-bottom: 1rem;
}

.change-box-name-tasks div {
    width: 20rem;
}

.change-box-name-tasks button {
    font-size: 1em;
    border: none;
    border-radius: var(--border-radius);
    width: 9rem;
    height: 2rem;
    margin: 0 .5rem;
    cursor: pointer;
}